
.response {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 5% 20%;
    padding: 5%;
    background: #FFFFFF;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
    border-radius: 20px;


    .response-header {       
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 151.2%;
        color: #333333;
    }
    .response-div {
        display: flex;
        flex-direction: row;
        width: 500px;
        margin-top: 5%;

        .response-div-div {
            margin-left: 5%;

            .response-div-rating {
                margin: 3% 0;
            }
            .response-name {
                font-family:" Nunito";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 124.8%;
                letter-spacing: 0.655606px;
                color: #474747;
            }
            .response-title {            
                font-family: "Open Sans";
                font-style: italic;
                font-weight: normal;
                font-size: 14px;
                line-height: 151.2%;
                color: #737373;
            }

        }
        
    }
}

@media screen and (max-width: 1000px) {
    .response {
        width: 100%;
        margin-left: 0;
    }
}